*{
    box-sizing: border-box;
}

nav {
	margin:0 auto;
}

nav:before {
	content:'';
	display:block;
	height:50px;
	width:100%;
	background:#C0C0C0;
	position:absolute;
	left:0;
	z-index:-1;
}
ul {
	margin:0;
	padding:0;
	list-style: none;
	height:50px;
}

ul li {
	float: left;
}

ul li a {
	color:#fff;
	display:block;
	height:50px;
	padding:0 30px;
	text-transform:uppercase;
	text-decoration:none;
	line-height:50px;
}

ul li a:hover {
	background:#d34d43;
}

*{
    box-sizing: border-box;
}

nav {
	background: no-repeat center top fixed;
	width: 500px;
	margin: 0 auto;
}

nav:before {
	content:'';
	display:block;
	height:50px;
	width:100%;
	background:#C0C0C0;
	position:absolute;
	left:0;
	z-index:-1;
}

ul {
	margin:0;
	padding:0;
	list-style: none;
	height:50px;
}

ul li {
	float: left;
}

ul li a {
	color:#fff;
	display:block;
	height:50px;
	padding:0 30px;
	text-transform:uppercase;
	text-decoration:none;
	line-height:50px;
}

ul li a:hover {
	background:#d34d43;
}

body {
    background: no-repeat center top fixed;
    background-size: cover;
}

